.game-grid {
  --gameX: 4;
  --gameY: 4;
  display: grid;
  grid-template-columns: repeat(var(--gameX), 1fr);
  grid-template-rows: repeat(var(--gameY), 1fr);
  grid-gap: 1rem;
}
.header__game {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
