@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --turqoise-gradient-start: #3aa1a4;
  --turqoise-gradient-end: #66aeaf;
  --violet-gradient-start: #4e307c;
  --violet-gradient-end: #9a7cc9;
  --blue-gradient-start: #2b4a8e;
  --blue-gradient-end: #6a86c5;
  --button-primary: #3b1f66;
  --button-secondary: #114647;
  --white: #ffffff;
  --input-player-1-color: #8450d8;
  --input-player-2-color: #00cacf;
  --header-player-1-color: #cbabff;
  --header-player-2-color: #a2f9fb;
  --header-player-1-color-active: #8450d8;
  --header-player-2-color-active: #00cacf;
  --input-radius: 35px;
  --hover-brightness: 1.5;
  --active-brightness: 2;
}

.drop-shadow {
  filter: drop-shadow(12px 2px 26px rgba(0, 8, 49, 0.25));
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.app {
  height: 100vh;
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  padding: 40px 80px;
  color: white;
  display: flex;
  height: 140px;
}

.main {
  grid-area: main;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* this is the "main area" for all games, it's centered v and h */
.centerstage {
  min-height: 200px;
  min-width: 200px;
}

.footer {
  padding: 20px 80px;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  align-items: center;
  font-size: 20px;
}

.footer__link {
  text-decoration: none;
  color: var(--white);
  opacity: 0.5;
  transition: all 250ms;
}

.footer__link:hover {
  opacity: 1;
}

.footer__link-pipe {
  opacity: 0.5;
  margin: 0 10px;
}
