body {
  position: relative;
}

.header {
  background-color: #12295d;
  position: fixed;
  width: 99%;
}
.game {
  min-height: 50rem;
}
.game-login {
  padding-top: 10%;
  min-height: 100rem;
}
.game-login div:first-child {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: teal;
  width: 99%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.footer-links {
  padding: inherit;
}
.header-title {
  padding: 0.8rem;
}
.header .header-title h1 {
  color: white;
  margin-left: 1rem;
}
.header-player {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.player-section {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.placeholder {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media only screen and (max-width: 844px) {
  .header {
    width: 98%;
  }
  footer {
    width: 98%;
  }
}


.boxed label {
  display: inline-block;
  width: 200px;
  padding: 10px;
  border: solid 2px #12295d;
  transition: all 0.3s;
}

.boxed input[type="radio"] {
  display: none;
}

.boxed input[type="radio"]:checked + label {
  border: solid 2px #12295d;
  background-color: #12295d;
  color: white;
}